.projects__rows {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #1d304f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__rows h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #1d304f;
}

.projects__rows h2 {
  margin: 0;
  font-size: 1rem;
  color: #7c7c7c;
}
