.projects__rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__rows h1 {
  margin: 0;
  font-size: 1.5rem;
}

.projects__rows h2 {
  margin: 0;
  font-size: 1rem;
}
