.main-nav {
  position: fixed;

  top: 0;

  height: 3.5rem;
  background-color: #1d304f;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2;
}

.main-nav__logo h1 {
  margin: 0;
  font-size: 1.8rem;
  color: #ffffff;
}

.main-nav__items {
  margin-left: 1.5rem;
}

.main-nav__items ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__items li {
  margin: 0 1rem;
}

.main-nav__items a,
.main-nav__items button {
  text-decoration: none;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.main-nav__items a:hover,
.main-nav__items a:active,
.main-nav__items button:hover,
.main-nav__items button:active {
  color: #1d304f;
  background: #fff;
  border-radius: 5px;
}
